p {
    color:rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

div{

background-color: rgb(97, 154, 211);

}
#videogames{
    background-color: rgb(0, 0, 255);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #6b9ff2;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  li a.active {
    color: white;
    background-color: #04AA6D;
  }
